.navbar {
    background-color: white;
    font: 20px Arial, sans-serif;
    
}

.quem-somos{
    background-color: #CECEF6;
    color: black;
    
}

.margin{
    padding-bottom: 20px;
    padding-top: 10px;
}

.parceiros {
    background-color: #CECEF6;
}
.servicos {
    background-color: #CECEF6;
}

.bgfooter{
    background-color: white;
    font: 20px Arial, sans-serif;
    padding-top: 20px;
}
h3{
    font: 25px Arial, sans-serif;
}
p {
    font: 20px Arial, sans-serif;
}